{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Добро пожаловать на страницу с рецептами!</p>
        <div><a href="{% url 'recipes_home' %}" class="btn btn-warning">Просмотреть все рецепты</a></div><br>
        <div><a href="{% url 'about' %}" class="btn btn-warning">Узнать больше о нас</a></div>

<!--        {% for value in values %}-->
<!--            <p>{{ value }}</p>-->
<!--        {% endfor %}-->
    </div>
{% endblock %}
